---
global:
  scrape_interval: '2m'
  evaluation_interval: '15s'

scrape_configs:
# monitor-server
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'node_exporter'
    metrics_path: /metrics
    static_configs:
      - targets: ['localhost:9100']

  - job_name: 'snmp_if_mib'
    static_configs:
      - targets:
          - 192.168.0.1 # IX2215
    metrics_path: /snmp
    params:
      module: [if_mib]
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: snmp-exporter:9116

  - job_name: 'snmp_nec_ix'
    static_configs:
      - targets:
          - 192.168.0.1 # IX2215
    metrics_path: /snmp
    params:
      module: [nec_ix]
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: snmp-exporter:9116

  - job_name: 'blackbox_exporter_http_2xx'
    metrics_path: /probe
    params:
      module: [http_2xx]
    static_configs:
      - targets:
          - 'http://epgstation-ubuntu-24-04-docker-oci-arm64:8888'
          - 'http://192.168.0.125:40772' # Mirakurun
          - 'http://192.168.0.254/main.htm' # AP-W6T3267C WebConsole
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: blackbox-exporter:9115

  - job_name: 'blackbox_exporter_http_icmp'
    metrics_path: /probe
    params:
      module: [icmp]
    static_configs:
      - targets:
          - '192.168.0.1' # IX2215
          - '192.168.0.254' # AP-W6T3267C

    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: blackbox-exporter:9115

# myhome
  - job_name: 'speedtest_exporter_myhome'
    metrics_path: /metrics
    static_configs:
      - targets: ['192.168.0.122:8080']
