---
services:
  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    volumes:
      - ./prometheus:/etc/prometheus
    command: "--config.file=/etc/prometheus/prometheus.yaml"
    ports:
      - 9090:9090
    restart: always
  node-exporter:
    image: prom/node-exporter:latest
    container_name: node-exporter
    command:
      - '--path.rootfs=/host'
    network_mode: host
    pid: host
    restart: unless-stopped
    volumes:
      - '/:/host:ro,rslave'
  snmp-exporter:
    image: prom/snmp-exporter:latest
    container_name: snmp-exporter
    command:
      - '--config.file=/etc/snmp_exporter/snmp.yml'
    volumes:
      - './snmp-exporter:/etc/snmp_exporter'
    network_mode: host
    pid: host
    restart: unless-stopped
  blackbox-exporter:
    image: prom/blackbox-exporter:latest
    container_name: blackbox-exporter
    command:
      - '--config.file=/etc/blackbox_exporter/blackbox-exporter.yml'
    network_mode: host
    pid: host
    restart: unless-stopped
    volumes:
      - './blackbox-exporter:/etc/blackbox_exporter'
